body {
	font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
}

.wf-loading {
    visibility: hidden;
}

.wf-active {
    visibility: visible;
}

a, a:visited {
    color: #dd4231;
    border-bottom: 1px solid #dd4231;
    text-decoration: none;
}

a:hover {
    color: #dd4231;
    background: #dd42311c;
    border-bottom: none;
}

.container {
    max-width: 600px;
}

#banner {
	text-align: center;
    margin-top: 3.6rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 2.5rem;
}

#banner img.profile {
    height: 100px;
    width: 100px;
}

#banner .logo-link:hover {
    background: none;
}

#banner h1 {
    font-size: 3.4rem;
    font-weight: 300;
	margin-top: 0.6rem;
    padding-bottom: 1.5rem;
}

#banner h1 a {
	color: black;
}

#banner p {
    font-size: 2rem;
    font-weight: 100;
    padding: 0 30px;
    margin-top: 6px;
}

#banner a {
    border-bottom: none;
}

#banner .header-links a:not(:last-of-type) {
    margin-right: 10px;
}

#menu {
	text-align: center;
    margin-top: 1.0rem;
    margin-bottom: 5.0rem;
    font-weight: 300;
    font-size: 1.4rem;
}

#menu ul {
	list-style-type: none;
	padding-left: 0;
}

#menu ul li {
	display: inline-block;
    margin:0 0.3rem;
}

#post-list {
	list-style-type: none;
	padding-left: 0;
    margin-top: 0;
}

#post-list > li {
    border-bottom: 1px dotted #ccc;
}

#post-list > li, .single-hentry {
    padding-top: 1.4rem;
    padding-bottom: 2.0rem;
}
.single-hentry {
    margin-bottom: 5.0rem;
}

#post-list > :last-child {
	border-bottom: none;
}

abbr.published {
    font-size: 1.2rem;
    color: #aaa;
    text-decoration: none;
}

.hentry img, .single-hentry img {
    width: 100%;
}

p {
    font-size: 1.7rem;
    line-height: 2.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.paginator {
	text-align: center;
    font-size: 1.2rem;
    margin-top: 3.0rem;
    margin-bottom: 6.0rem;
}

#page-footer p {
	text-align: center;
    font-size: 1.2rem;
    color: #aaa;
    font-style: normal;
    margin-top: 0;
}

#page-footer p:last-of-type {
    margin-bottom: 3.0rem;
}

#page-footer .social-links {
    text-align: center;
    margin-bottom: 6.0rem;
}

#page-footer a {
    border-bottom: none;
    color: #333;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#page-footer a:hover {
    color: #dd4231;
}

#page-footer a.social-link:hover {
    text-decoration: none;
    border-bottom: none;
}

h1, h2 {
    font-weight: 700;
    color: #111;
    letter-spacing: normal;
    line-height: normal;
}

h2 {
    font-size: 2.8rem;
}

h2.entry-title {
    margin-bottom: 0;
    margin-top: 0;
}

h2.entry-title a {
    color: #3A414C;
    border-bottom: none;
}

h2.entry-title.link-post {
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 0.3rem;
    line-height: 2.7rem;
}

h2.entry-title.link-post a {
    color: #dd4231;
    border-bottom: 1px solid #dd4231;
}

h2.entry-title.link-post a:hover {
    border-bottom: none;
}

h2.entry-title.link-post a.permalink {
    color: #eee;
    border-bottom: none;
    margin-left: 0.5rem;
}

#post-list li:hover h2.entry-title.link-post a.permalink,
.single-hentry:hover h2.entry-title.link-post a.permalink {
    color: #ccc;
}

#post-list li h2.entry-title.link-post a.permalink:hover,
.single-hentry h2.entry-title.link-post a.permalink:hover {
    color: #dd4231;
}

blockquote {
    border-left: 1px solid #ddd;
    margin-left: 2.0rem;
    padding-left: 2.0rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

abbr[title] {
    border-bottom: none;
}

ol ol, ol ul, ul ol, ul ul, ol, ul {
    list-style-position: outside;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 4.0em;
}

li {
    margin-bottom: 1.7rem;
    font-size: 1.7rem;
}

hr {
    border-top: 1px dotted #ccc;
    border-bottom: none;
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
}

.entry-content h2 {
    font-size: 1.7rem;
    margin-bottom: -0.8rem;
}

.entry-content li {
    margin-bottom: 0.5rem;
}

.entry-content hr {
    margin-left: 30%;
    margin-right:30%;
}

